<p style="color: green"><%= notice %></p>

<h1>Orders</h1>

<div id="orders">
  <% @orders.each do |order| %>
    <%= render order %>
    <p>
      id: <%= order.id %>
    </p>
    <p>
      total: <%= humanized_money_with_symbol order.total_cents / 100.0 %>
    </p>
    <p>
      <%= link_to "More details", order %>
    </p>
  <% end %>
</div>

<%= link_to "New order", new_order_path %>
<%= link_to "Back to products", products_path %>
