<p style="color: green"><%= notice %></p>

<%= link_to "Cart", cart_path %>
<%= link_to "Orders", orders_path %>

<h1>Products</h1>


<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= product.name %>
    </p>
    <p>
      Price: <%= humanized_money_with_symbol product.price_cents / 100.0 %>
    </p>
    <p>
      Quantity: <%= product.quantity%>
    </p>

    <%= button_to "Add to cart", add_item_cart_path(product_id: product.id), method: :post %>

    <p>
      <%= link_to "More Info", product %>
    </p>

  <% end %>
</div>

<%= link_to "New product", new_product_path %>
