<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <p>
    <%= @product.name %>
  </p>
  <p>
    Serial: <%= @product.description %>
  </p>
  <p>
    Unit price: <%= humanized_money_with_symbol @product.price_cents / 100.0 %>
  </p>
  <p>
    Quantity in stock: <%= @product.quantity %>
  </p>




  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
